a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #422f2e;
    text-decoration: none;
}

a:hover {
    color: #FF7538;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.footer-root {
  padding-top: 24px;
  padding-bottom: 28px;
  padding-right: 16px;
  padding-left: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;  
  color: #636c72;
  background-color: #f7f7f7;
}

.list-inline-item:not(:last-child) {
    margin-right: 16px;
}