.project-root {
  margin-top: 12px;
  margin-bottom: 12px;
}
.project-btn {
  position: absolute;
  margin-top: 20px;
  bottom: 8px;
  background-color: #FF7538;
}

.project-card-img-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-card-img-fill img {
  width: 100%;
  min-height: 57%;
  flex-shrink: 0;
}

.project-title {
  margin-bottom: 0;
}

.project-badge {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
}

.project-block {
  position: relative;
  min-height: 180px;
}