.project-root {
    margin-top: 12px;
    margin-bottom: 12px;
}
.project-btn{
  background-color: #FF7538;
  margin-top: 20px;
  position: absolute; 
  bottom: 8px;
}

.project-card-img-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.project-card-img-fill img {
    flex-shrink: 0;
    width: 100%;
    min-height: 57%;
}

.project-title {
    margin-bottom: 0;
}

.project-badge {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
}

.project-block {
  position: relative;
  min-height: 180px;
}